.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.img {
    height: 80px;
    width: 70px;
}

.nombre {
    font-size: 12px;
}

.info {
    display: flex;
    justify-content: space-between;
}