.container {
    
    background-image: url('../../assets/img/fondo2.jpg');
    background-color: rgba(0, 0, 0, 0.288);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    height:100vh;
    width: auto;

    color: aliceblue;
    gap: 2rem;
    padding: 2rem;
}

.center{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
   
}

.imgInfo {
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    padding: 2rem;
    gap: 18rem;
    background-color: rgba(0, 0, 0, 0.56);
    color: aliceblue;
    border-radius: 2rem;

}


.img {
    background-image: url('../../assets/img/imagen2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5rem;
    height: 30rem;
    width: 20rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    pad: 1rem;
}

.img:hover .imgInfo {
    
    opacity: 1;
    
}

@keyframes flip-bottom {
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(-180deg);
    }
}

@keyframes flip {
    0%{
        transform: rotateX(-180deg);
    }
    100%{
        transform: rotateX(0);
    }
}


/* BARRA DE NAVEGACION*/
.button {
    background-color: transparent;
    border: none;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ham {
    position: fixed;
    background-color: transparent;
    left: 0%;
    top:0%;
    margin: 2rem;
  }

  .ham:hover{
    background-color: black;
}

.icon {
    font-size: 2rem;
    position: fixed;
    color: aliceblue;
    border-radius: 25%;
}

.icon:hover{
    background-color: rgb(12, 115, 133);
    cursor: pointer;
}

/* ---------------------------- */



.img2 {
    background-image: url('../../assets/img/imagen4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5rem;
    height: 30rem;
    width: 20rem;
    animation: flip 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    transition: rotate .0s .2s, background-image 0s .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    pad: 1rem;
}

.img2:hover{
    background-image: url('../../assets/img/imagen5.jpg');
    transition: rotate .0s .2s, background-image 0s .2s;
    animation: flip-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}