.container {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
}
.header {
    margin: 5px;
    border-top: 1px solid rgba(92, 91, 91, 0.847);;
    border-bottom: 1px solid rgba(92, 91, 91, 0.847);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/* --------------LOGO------------------- */

.img {
    height: 7vh;
    padding: 5px;
}

.img:hover {
    cursor: pointer;
}




/* --------------- MENU HAMBURGESA --------------- */

.ham {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
  }

.ham:hover{
    cursor: pointer;
    
}