.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    position: fixed;
    left: 0%;
    padding: 2rem;
    margin: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.enlaces{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
}

.closeIcon {
   margin: 10px;
}

.button {
    
   
    background-color: transparent;
    border: none;
    color: aliceblue;
    
}
.button:hover {
    background-color: rgb(232, 6, 6);
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: aliceblue;
    
}
.home {
    text-decoration: none;
    color: aliceblue;
    padding: 5px;

}
.home:hover{
    color: aqua;
    

}
.link:hover {
   
    color: aqua;
    
}

.img {
    height: 5vh;
    padding: 0;
    margin: 0;
}
