.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    position: absolute;
    top: 20%;
    left: 0%;
    padding: 3rem;
    margin: 2rem;
    
}

.enlaces{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
}


.button {
    
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: aliceblue;
    
}
.button:hover {
    cursor: pointer;
    color: aliceblue;
}

.link {
    text-decoration: none;
    color: aliceblue;
    
}

.link:hover {
    border-bottom: 0.2px solid #ffffff;
}

.img {
    height: 5vh;
    padding: 0;
    margin: 0;
}

.closeIcon {
    position: absolute;
    right: 0%;
    top: 0%;
}
