.navbar {
    display: flex;
    justify-content:space-around;
    padding: 2rem;
    gap: 1rem;
    color: aliceblue;
    height: 3vh;
    background-color: black;
    position: fixed;
    width: 100vw;
}

.link {
    text-decoration: none;
    color: aliceblue;
}
