

.button {
    position: fixed;
    right: 0%;
    margin: 2rem;
    color: aliceblue;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
  }

  .button:hover{
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}