.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(114, 75, 47);
    color: aliceblue;
}

.img {
    height: 100rem;
    width: 25rem;
}