.center {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    gap: 2rem;
    
}

.section {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 1rem;
}

.img {
    height: 500px;
    width: auto;
}

.parrafo {
    line-height: 2rem;
    padding: 3px;
    
}