.container {
    
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.infoPrecio {
    font-weight: bold;
}

.info {
    text-decoration: none;
    font-size: small;
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px;  
}

.prenda {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 250px;
    padding: 1rem 2rem;
    gap: 15px;
    
}

.clothesImg2 {
    width: 300px;
   
}


