.container {
      height: 100vh;
      background-image: url('../../assets/img/fondo2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      color: aliceblue;
      animation: carousel 10s infinite;
  }

.img {
    padding: 1rem;
    height: 15vh;
}
.img:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

 

.home {
    display: flex;
    align-items: top;
    justify-content: center;
    height: 100vh;
}

.button {
    background-color: transparent;
    border: none;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ham {
    position: fixed;
    background-color: transparent;
    left: 0%;
    margin: 2rem;
  }

  .ham:hover{
    background-color: black;
}

.entrar {
    color: aliceblue;
    padding: 0.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.655);
}
.icon {
    font-size: 2rem;
    position: fixed;
    color: aliceblue;
    border-radius: 25%;
}

.icon:hover{
    background-color: rgb(12, 115, 133);
    cursor: pointer;
} 

@keyframes carousel {
  0% {
      background-image: url('../../assets/img/fondo2.jpg');
      
  }
  25% {
    background-image: url('../../assets/img/fondo3.jpg');
     
  }
  75% {
      background-image: url('../../assets/img/medellin4k.jpg');
     
  }
  100% {
      background-image: url('../../assets/img/fondo.jpg');
      
  }
}