.container {
    height: 100vh;
    background-image: url('../../assets/img/pexels-clive-kim-4150118.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    
    
}

.img {
    padding: 1rem;
    height: 10vh;
}
.img:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.home {
    height: 100vh;
}

.button {
    background-color: transparent;
    border: none;
    
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 48%;
}

